<div id="account_edit">
  <%= render "account_edit_menu" %>
  <div id="account_edit_area">
    <h3>Change my password</h3>
    <%= form_for @user, :url => update_password_path do |form| %>      
      <table>
        <tbody>
          <tr>
            <td class="<%= !@user.errors[:password].empty? ? "invalid" : "" %>"><%= form.label :password, "New password" %></td>
            <td><%= form.password_field :password %></td>
         </tr>
         <tr>
           <td class="<%= !@user.errors[:password].empty? ? "invalid" : "" %>"><%= form.label :password_confirmation, "Confirm password" %></td>
           <td><%= form.password_field :password_confirmation %></td>
         </tr>       
		  <tr>
			<td></td>
			<td><%= form.submit "Change my password" %></td>
		  </tr>        
        </tbody>
      </table>  
	<% end -%>
	<%= set_focus_to_id @focused_field_id ||= 'password' %>      
  </div>
</div>      
