<div class="submenu_tabnav">
  <% if current_controller_new 'tournaments' %>
    <%= render_navigation :context => :tournaments %>
  <% elsif current_controller_new 'rules' -%>
    <%= render_navigation :context => :rules %>
  <% elsif current_controller_new 'predictions' -%>
    <%= render :partial => "predictions/progressbar" %>
    <%= render_navigation :context => :predictions %>
  <% elsif current_controller_new 'contests' -%>
    <% if current_action_new ['join', 'edit', 'update', 'latest_results', 'upcoming_events'] -%>
      <%= render_navigation :context => :contest %>
    <% else %>
      <%= render_navigation :context => :contests %>
    <% end %>
  <% elsif current_controller_new 'invitations' -%>
    <% if current_action_new ['pending', 'accepted'] -%>
      <%= render_navigation :context => :invitations %>
    <% else -%>
      <%= render_navigation :context => :contest %>
    <% end -%>
  <% elsif current_controller_new 'participants' or current_controller_new 'score_tables' -%>
    <%= render_navigation :context => :contest %>
  <% end -%>
</div>