<!-- footer -->
<div id="footer">
  <div id="footer-contents-left">
    <p>
      <% if current_action_new 'about' %>
        <%= link_to 'About', home_path('about'), :class => "selected" %>
      <% else %>
        <%= link_to 'About', home_path('about') %>
      <% end %>
      |
      <% if current_action_new 'terms' %>
        <%= link_to 'Terms', home_path('terms'), :class => "selected" %>
      <% else %>
        <%= link_to 'Terms', home_path('terms') %>
      <% end %>
      |
      <% if current_action_new 'privacy' %>
        <%= link_to 'Privacy', home_path('privacy'), :class => "selected" %>
      <% else %>
        <%= link_to 'Privacy', home_path('privacy') %>
      <% end %>
      |
      <% if current_action_new 'contact' %>
        <%= link_to 'Contact', home_path('contact'), :class => "selected" %>
      <% else %>
        <%= link_to 'Contact', home_path('contact') %>
      <% end %>
      |
      <% if current_action_new 'faq' %>
        <%= link_to 'FAQ', home_path('faq'), :class => "selected" %>
      <% else %>
        <%= link_to 'FAQ', home_path('faq') %>
      <% end %>
    </p>
  </div>
  <div id="footer-contents-center">
    &copy; 2010 - 2012 Tore Hauge.
  </div>
  <div id="footer-contents-right">
    Powered by <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %> and <%= link_to "Heroku", "http://heroku.com/" %>.
  </div>
</div>