<!-- footer -->
<div id="footer">
  <div id="footer-contents-left">
    <p>
      <%= link_to 'About', home_path('about') %>
      |
      <%= link_to 'Rules', home_path('rules') %>
      |
      <%= link_to 'Terms', home_path('terms') %>
      |
      <%= link_to 'Privacy', home_path('privacy') %>
      |
      <%= link_to 'Contact', home_path('contact') %>
      |
      <%= link_to 'FAQ', home_path('faq') %>
    </p>
  </div>
  <div id="footer-contents-center">
    &copy; 2010 - 2012 Tore Hauge.
  </div>
  <div id="footer-contents-right">
    Powered by <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %> and <%= link_to "Heroku", "http://heroku.com/" %>.
  </div>
</div>