<!-- header -->
<div id="header">
<div class="top"><h1 id="logo">Contest<span class="gray">adors.com</span> <span class="slogan">Free <span class="slogan-blue">World Cup</span> Prediction Contests</span></h1></div>
  <div id="nav">
    <ul>
      &nbsp; &nbsp; &nbsp;
      <% if current_user -%>
        <li><%= link_to "Profile", account_path %></li>
        |
        <li><%= link_to 'Sign Out &raquo;', user_session_path, :method => :delete %></li>
      <% else -%>
  	<li><%= link_to "Try It Out! &raquo;", championship_predictions_path(:preview => true) %></li>
        |
  	<li><%= link_to "Join Now! &raquo;", new_account_path %></li>
  	|
  	<li><%= link_to 'Sign In &raquo;', "#{new_user_session_path}?height=250&width=320", :title => 'Sign In', :class => 'thickbox' %></li>
      <% end -%>
    </ul>
  </div>
</div>