<% grid(@positions_grid, :show_filters => :no, :erb_mode => true) do |g| -%>
  <%  g.column :column_name => 'Position', :attribute_name => 'position' do |score_table_position| -%>
    <% @current_participant = current_user.eql?(score_table_position.user) %>
    <% if @current_participant -%>
      <b>
    <% end -%>
    <div class="current_participant_position"><%= score_table_position.position.to_s -%></div>
  <%#  end -%>

  <%#  g.column do |score_table_position| -%>
    <div class="participant_position_movement">
      <% if score_table_position.previous_position -%>
        <% if score_table_position.previous_position > score_table_position.position -%>
          <div class="score_table_diff">
            <%= image_tag("icons/arrow_up.png") %> +<%= score_table_position.previous_position - score_table_position.position %>
          </div>
        <% elsif score_table_position.previous_position < score_table_position.position -%>
          <div class="score_table_diff">
            <%= image_tag("icons/arrow_down.png") %> -<%= score_table_position.position - score_table_position.previous_position %>
          </div>
        <% else -%>
          <%= image_tag("icons/arrow_right.png") %>
        <% end -%>
      <% else -%>
        -
      <% end -%>
    </div>
      <% if @current_participant -%>
    </b>
  <% end -%>
  <%  end -%>

  <%  g.column :column_name => 'Participant', :attribute_name => 'name', :model_class => User do |score_table_position| -%>
    <% if @current_participant -%>
      <b>
    <% end -%>
    <%= score_table_position.user.name -%>
    <% if @current_participant -%>
      </b>
    <% end -%>
  <%  end -%>

  <% unless @before_contest_participation_ends -%>
    <% if is_current_tournament_selected -%>
      <%  g.column :column_name => 'Predictions' do |score_table_position| -%>
        <%= link_to("View Predictions", prediction_summary_link(score_table_position.participation) ) -%>
      <%  end -%>
    <%  end -%>
  <% end -%>

  <%  g.column :column_name => 'Points', :attribute_name => 'total_score', :model_class => PredictionSummary do |score_table_position| -%>
    <% if @current_participant -%>
      <b>
    <% end -%>
    <%= score_table_position.prediction_summary.total_score.to_s -%>

    <% if score_table_position.prediction_summary.previous_score -%>
      <% if score_table_position.prediction_summary.total_score > score_table_position.prediction_summary.previous_score -%>
        <span class="participant_score_delta">+<%= score_table_position.prediction_summary.total_score - score_table_position.prediction_summary.previous_score %></span>
      <%  end -%>
    <%  end -%>
    <% if @current_participant -%>
      </b>
    <% end -%>
  <% end -%>

  <%  g.column :column_name => 'MAP*', :attribute_name => 'map', :model_class => PredictionSummary do |score_table_position| -%>
    <% if @current_participant -%>
      <b>
    <% end -%>
    <%= score_table_position.prediction_summary.map.to_s -%>

    <% if score_table_position.prediction_summary.previous_score -%>
      <% if score_table_position.prediction_summary.map < score_table_position.prediction_summary.previous_map -%>
        <span class="participant_score_delta">-<%= score_table_position.prediction_summary.previous_map - score_table_position.prediction_summary.map %></span>
      <%  end -%>
    <%  end -%>
  <%  end -%>
  <% if @current_participant -%>
    </b>
  <% end -%>
<%  end -%>
<div class="table_description">
  <b>MAP* = Max Achievable Points</b>. (Max possible points for contest) x (Participant prediction completeness) - (Points for missed prediction objectives)
</div>
