<% team = group_table_element.team -%>
<div class="<%= group_table_position_div_class(group_table_element) %>">
    <div class="group_table_pos"><%= group_table_element.pos %></div>
    <div class="group_table_team_name"><div class="team_icon"><%= image_tag("/images/flags/"+ team.country_flag+ ".png") %></div><%= team.name %></div>
    <div class="pld_matches"><%= group_table_element.played %></div>
    <div class="won_matches"><%= group_table_element.won %></div>
    <div class="draw_matches"><%= group_table_element.draw %></div>
    <div class="lost_matches"><%= group_table_element.lost %></div>
    <div class="goals_for"><%= group_table_element.goals_for %></div>
    <div class="goals_against"><%= group_table_element.goals_against %></div>
    <div class="goal_diff"><%= group_table_element.goal_diff %></div>
    <div class="group_table_pts"><%= group_table_element.pts %></div>
    <div class="group_table_edit">
      <% if @aggregate.is_rearrangable? and @before_contest_participation_ends -%>
        <% if group_table_element.can_move_up -%>
              <div class="group_table_edit_move_up">
                <%= link_to image_tag("arrow_top.png"),
                            rearrange_predictions_path(:aggregate_root_type => "group", :aggregate_root_id => group.name,
                                                       :team_id => group_table_element.id,:pos => group_table_element.display_order, :command => :up), {:title => "Move Up"} %>
              </div>
        <% end -%>
        <% if group_table_element.can_move_down -%>
              <div class="group_table_edit_move_down">
                <%= link_to image_tag("arrow_down.png"),
                            rearrange_predictions_path(:aggregate_root_type => "group", :aggregate_root_id => group.name,
                                                       :team_id => group_table_element.id,:pos => group_table_element.display_order, :command => :down), {:title => "Move Down"} %>
              </div>
        <% end -%>
      <% end -%>
    </div>
</div>
