<% team = group_table_element.team; tied_team = group_table_element.tied == true ? 'Yes' : 'No' -%>
<% if group_table_element.display_order < 3 -%>
  <div class="group_table_promotion_position">
<% else -%>
  <div class="group_table_non_promotion_position">
<% end -%>
    <div class="group_table_pos"><%= group_table_element.pos %></div>
    <div class="group_table_team_name"><div class="team_icon"><%= image_tag("/images/flags/"+ team.country_flag+ ".png") %></div><%= team.name %></div>
    <div class="pld_matches"><%= group_table_element.played %></div>
    <div class="won_matches"><%= group_table_element.won %></div>
    <div class="draw_matches"><%= group_table_element.draw %></div>
    <div class="lost_matches"><%= group_table_element.lost %></div>
    <div class="goals_for"><%= group_table_element.goals_for %></div>
    <div class="goals_against"><%= group_table_element.goals_against %></div>
    <div class="goal_diff"><%= group_table_element.goal_diff %></div>
    <div class="group_table_pts"><%= group_table_element.pts %></div>
    <div class="group_table_edit">
      <% if @group_table_rearrangable == true -%>
        <% if group_table_element.can_move_up -%>
          <div class="group_table_edit_move_up">
            <%= link_to image_tag("arrow_top.png"),
              prediction_path(:aggregate_root_type => "group", :aggregate_root_id => @group.name,
              :id => group_table_element.id,:move => "up"), {:method => :put, :title => "Move Up"} %>
          </div>
        <% end -%>
        <% if group_table_element.can_move_down -%>
          <div class="group_table_edit_move_down">
            <%= link_to image_tag("arrow_down.png"),
               prediction_path(:aggregate_root_type => "group", :aggregate_root_id => @group.name,
              :id => group_table_element.id,:move => "down"), {:method => :put, :title => "Move Down"} %>
          </div>
        <% end -%>
      <% end -%>
    </div>
</div>
