<%#
# Displays the matches of the given stage in a column
%>
<div class="knockout_stage_container">
  <% selected = @aggregate.root.description.eql?(stage.description) -%>
  <div class="<%= selected == true ? "selected_" : ""%>knockout_stage_label"><%= stage.description  %></div>
  <%= render :partial => 'next_stage_qualification', :locals => {:stage => stage} %>
  <%= render :partial => 'stage_matches_top_spacing', :locals => {:stage => stage} %>
  <% predicted_stage = @aggregate.all_predicted_roots[stage.id]; predicted = !predicted_stage.nil? %>
  <% matches = predicted ? predicted_stage.matches : stage.matches; max_index = matches.size - 1 -%>
  <% matches.sort{|a, b| a.rank <=> b.rank}.each_with_index do |match, i| -%>
    <%= render :partial => 'stage_match', :locals => {:match => match, :predicted => predicted, :selected => selected, :stage => stage} %>
    <%= render :partial => 'stage_matches_spacing', :locals => {:stage => stage} if i < max_index %>
  <% end -%>
  <% if stage.description.eql?("Third place play-off") -%>
    <%= render :partial => 'stage_matches_spacing', :locals => {:stage => stage} %>
    <div class="<%= selected == true ? "selected_" : ""%>knockout_stage_label">Third Place</div>
    <%= render :partial => 'stage_match', :locals => {:match => @aggregate.associated, :predicted => predicted, :selected => selected, :stage => stage} %>
  <% end -%>
</div>
