<% prefix = "group[new_predictions][]" %>
<%= fields_for prefix, match do |match_form| %>
  <div class="<%= group_match_div_class(match) %>">
    <div class="match_date"><%= match.play_date.utc.to_s(:short) %></div>
    <div class="home_team_name"><%= match.home_team.name %></div>
    <div class="team_icon"><%#= image_tag("/images/flags/"+ match.home_team.country_flag+ ".png") %></div>
    <% if !current_user or @before_contest_participation_ends -%>
      <div class="team_score"><%= match_form.text_field :home_team_score, :maxlength => 2 %></div>
      <div class="score-separator">-</div>
      <div class="team_score"><%= match_form.text_field :away_team_score, :maxlength => 2 %></div>
    <% else -%>
      <div class="match_score"><%= match.home_team_score.to_s %> - <%= match.away_team_score.to_s %></div>
    <% end -%>
    <div class="team_icon"><%= image_tag("/images/flags/"+ match.away_team.country_flag+ ".png") %></div>
    <div class="away_team_name"><%= match.away_team.name %></div>
    <div class="space-line"/>
  </div>
<% end %>
</div>