<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Contestadors - <%= window_title %></title>
  <meta property="og:title" content="Free World Cup Prediction Contests"/>
  <meta property="og:type" content="game"/>
  <meta property="og:url" content="http://www.contestadors.com/"/>
  <meta property="og:image" content="http://www.contestadors.com/images/contestadors_logo_sm.jpg"/>
  <meta property="og:site_name" content="Contestadors"/>
  <meta property="og:description"
        content="Allows you to predict the 2010 FIFA World Cup and participate in prediction contests
                 with family, fiends and colleagues."/>
  <%= stylesheet_link_tag 'screen', 'buttons', 'thickbox', 'lightbox', 'application', 'themes/blue-orange',  'content_slider', :media => 'screen, projection' %>
  <%= javascript_include_tag :defaults %>
  <%= include_wice_grid_assets %>
</head>
  <body>
    <div class="container">
      <%= render :partial => "shared/header" %>
      <% if current_user -%>
        <% tabnav :main do %>
          <%= render :partial => "shared/context_menu" %>
          <%= render :partial => "shared/content" %>
        <% end -%>
      <% else -%>
        <%= render :partial => "shared/content" %>        
      <% end -%>
      <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>